/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    body {
        margin: 0;
    }

    footer {
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .logo {
        align-self: center;
    }

    .main-container {
        padding: 0;
    }

    .menuContainer a:hover {
        border-bottom: 3.5px solid #0065FC;
        border-top: none;
    }

    .menuContainer {
        text-align: center;
        gap: 0px;
        padding: 0px;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
    }

    .menuContainer a {
        padding: 16px;
        display: block;
    }

    .searchBar {
        display: flex;
    }

    .searchMob {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        right: 0px;
    }

    .infos {
        padding: 30px 20px;
    }

    .filterBar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .filterContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filterButton {
        justify-content: start;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }

    .cardTop,
    .cardBot {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    .searchButtons {
        display: none;
    }

    .placeHold {
        border-radius: 0 15px 15px 0;
        flex: 1;
        padding-right: calc(49px + 15px);
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .hebergement_hotel-du-port,
    .hebergements-cards .hebergement_hotel-chez-amina,
    .hebergements-cards .hebergement_hotel-les-mouettes,
    .hebergements-cards .hebergement_hotel-de-la-mer,
    .hebergements-cards .hebergement_auberge-la-canebiere,
    .hebergements-cards .hebergement_auberge-le-panier {
        width: 100%;
    }

    .hebergements-cards .card-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .populaires {
        width: 100%;

    }

    .hebergements-and-populaires section {
        background-color: white;
        border-radius: initial;
    }

    .hebergements-and-populaires {
        padding: 0px;
    }

    #populairesMob {
        background-color: #F2F2F2;

    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    .activites-cards .activite_vieux-port,
    .activites-cards .activite_fort-de-pomegues,
    .activites-cards .activite_parc-national-des-calanques,
    .activites-cards .activite_notre-dame-de-la-garde {
        height: initial;
    }

    .activites-cards img {
        height: 133px;
        width: 100%;
    }

    .activites-cards .card-content {
        padding-left: 10px;
    }

    .foot-section {
        display: flex;
        flex-direction: column;
    }
}